//
.wrapper {
  border-top: 1px solid #e3e3e4;
}

.label {
  font-size: 1.4rem;
  padding: 8px;
  font-weight: 600;
  color: #161823bf;
}

//see more
.more-btn {
  font-size: 1.4rem;
  color: #fe2c55;
  font-weight: 700;
  padding: 8px;
  cursor: pointer;
}
