//Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
        display: flex;
        padding: 12px 15px;
        font-size: 1.6rem;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        cursor: pointer;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
